.banner{
	background-image: url(../../images/image-site-haut.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	#background-position: center;


}

.banner h1{
	text-align: center;
	font-size: 100px;
	font-family: 'Yeseva One', cursive;
}

.banner a{
	position: relative;
	left: 200px;
}